@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Londrina+Solid:wght@100;300;900&family=Shadows+Into+Light&family=Signika+Negative:wght@500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Londrina+Solid:wght@100;300;900&family=Patua+One&family=Shadows+Into+Light&family=Signika+Negative:wght@500&family=Varela+Round&display=swap');
div[class="search"]
{
    top:0;
    left:0;
    position: absolute;
    background-image:url('food-pizza-baking.jpg');
    background-repeat: no-repeat;
    background-position-x:  center;
    height:50vh;
    width: 100%;
}

div[class="wrapper"]
{
    border-style: solid;
    border-radius:9px;
    width:fit-content;
    background-color: white;
    border: rgb(204, 94, 94);
}
input{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-style: none;
    border-color: white;
    height:5vh;
    width: 40vw;
    outline: none;
    font-size:larger;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
div[class="header"]
{
     margin-left:30vw; 
}
button{
    background-color: white;
    border: none;
    height:4vh;
    border-left:rgb(119, 92, 92);
    border-left-style: solid;
    margin-bottom: 5.5px;
    cursor:pointer;
   
}
h1[id="reload"]
{
    cursor: pointer;
}
h1,h2,h3,li
{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Patua One', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
h1,h2{
color: whitesmoke;
margin-left:23%;
}

abbr{
    border-bottom: none!important;
    cursor:inherit !important;
    text-decoration: none !important;
}
div[class="food items"]
{
    position: absolute;
    /* border-style:solid; */
    top:52%;
    left:7%;
    height:max-content;
    width:90vw;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    overflow: hidden;
}
div[class="food"]
{
    padding-top:10px;
    /* border-style:solid; */
    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.6)
    ),;
    background-image: url('pancake-high-resolution-jpeg-2K-wallpaper-middle-size.jpg');
    background-position: center;
    background-color: rgba(247, 239, 239, 0.5);
    background-blend-mode: darken;
    cursor:pointer; 
    margin: auto;
    position: relative;

}
 #first:hover img ,#second:hover img ,#third:hover img{
    transform: scale(1.1);
}
img{
    border-radius: 4px;
    margin-top:16px;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 100%;
    transition: all 0.3s;
    transform:scale(1);
}
div[class="mealName"]{
    position: relative;
    text-align: center;
    width:100%;  
    bottom: 0;
    color:rgb(0, 0, 0);
     background-color: rgb(17, 13, 13); 
    cursor:pointer;
    padding-bottom: 0%;
}
div[class="coating"]{
    justify-items: center;
    width:fit-content;
    margin-right:15px;
    height:27vw;
    padding-bottom: 100%;
    margin-bottom: -100%;
   background:linear-gradient(
        to -bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      );
}
div[class="modal"]
{
    display: none;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    height:100vh;
    width:100%;
}
div[class="modal-content"]
{
    position: absolute;
    height:72%;
    width:86%;
    background-color: whitesmoke;
    top:10%;
    left:8%;
    border-radius: 15px;
    display: flex;
    
    
}
span i{
     position:absolute;
     top: 1%;
     left: 97.6%;
     font-size: 25px;
     color:red; 
     cursor: pointer;  
     margin-left:0px;
}
h1[id="black"]
{
    
    color:black;
}

div[class="photo"]
{
    
    width: 45%;
}
div[class="intro"]
{
    margin-left:5px;  
    margin-right:25px; 
    width: 60%;
    overflow: scroll;
}
img[class="one"]
{
    margin:0;
    height:72vh;
    width:max-content;
   
    border-radius: 0px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
img[class="two"]
{
    margin-top:10%;
    height:230px;
    width:250px;
    transition: all 0.3s;
    transform:scale(1); 
}
div[class="center"]
{ 
   position: relative;
   top:0%;
   left:9%;
   width:100vw;
   

}
div:hover > img[class="two"]{
    transform: scale(1.1);

}

h2{
   
  margin-left:5%;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 0 black;
    
}
li{
   
    background-color:black;
    color:white;
    text-decoration: none;
    border-color: #c13a3a;
	background-color: rgb(230, 50, 50);
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    margin:10px;
    text-align: center;

}
li:hover{
    background-color: red;
}

div[id="list"]
{
    left:5.67%;
    display: none;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:60vh;
    height:fit-content;
    width:max-content;
    justify-content: space-between;
    overscroll-behavior: contain;
}
div[class="meal"]
{
    
    background-image: url('pancake-high-resolution-jpeg-2K-wallpaper-middle-size.jpg');
    background-position: center;
    margin:15px;
    cursor:pointer;
    position: relative;
    background-image: url('pancake-high-resolution-jpeg-2K-wallpaper-middle-size.jpg');
    background-position: center;
    background-color: rgba(247, 239, 239, 0.5);
    background-blend-mode: lighten;
    padding-bottom: 0px;
}

