@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Londrina+Solid:wght@100;300;900&family=Shadows+Into+Light&family=Signika+Negative:wght@500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fredoka+One&family=Londrina+Solid:wght@100;300;900&family=Patua+One&family=Shadows+Into+Light&family=Signika+Negative:wght@500&family=Varela+Round&display=swap');
div[class="search"]
{
    top:0;
    left:0;
    position: absolute;
    background-image:url('food-pizza-baking.jpg');
    background-repeat: no-repeat;
    background-position-x:  center;
    height:50vh;
    width: 100%;
}

div[class="wrapper"]
{
    border-style: solid;
    border-radius:9px;
    width:fit-content;
    background-color: white;
    border: rgb(204, 94, 94);
}
input{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-style: none;
    border-color: white;
    height:5vh;
    width: 40vw;
    outline: none;
    font-size:larger;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Varela Round', sans-serif;
}
div[class="header"]
{
     margin-left:30vw; 
}
button{
    background-color: white;
    border: none;
    height:4vh;
    border-left:rgb(119, 92, 92);
    border-left-style: solid;
    margin-bottom: 5.5px;
    cursor:pointer;
   
}

h1,h2{
    font-family: 'Abril Fatface', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Patua One', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Signika Negative', sans-serif;
font-family: 'Varela Round', sans-serif;
color: whitesmoke;
margin-left:23%;
}
h2{
    margin-left:10%;
}
div[class="food items"]
{
    position: absolute;
    /* border-style:solid; */
    top:52%;
    left:7%;
    height:max-content;
    width:90vw;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    overflow: hidden;

}
div[class="food"]
{
    padding-top:10px;
    /* border-style:solid; */
    background-image: url('pancake-high-resolution-jpeg-2K-wallpaper-middle-size.jpg');
    background-position: center;
    background-color: rgba(247, 239, 239, 0.5);
    background-blend-mode: lighten;
    cursor:pointer;
    
}
img{
    border-radius: 4px;
    width:75%;
    height:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
div[class="mealName"]{
    text-align: center;
    width:100%;  
    color:rgb(255, 255, 255);
    background-color: rgb(17, 13, 13);
    cursor:pointer;
}
div[class="coating"]{
    justify-items: center;
    width:fit-content;
    margin-right:50px;
    height:25vw;
    padding-bottom: 100%;
    margin-bottom: -100%;
}
